.block-product {
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
}
.block-product__container {
    text-align: center;
}
.block-product__detail {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
    margin-top: -50px;
}

.main__box-shop__block-products {
    margin-top: 100px;
}
.block-products__heading {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
}
.block-products__text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.35px;
    padding-bottom: 20px;
}
.main__box-shop__block-products_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.block-product__item {
    position: relative;
    width: 262px;
    margin-bottom: 32px;
}
.block-product__item-link {
    text-decoration: none;
}
.block-product__item:hover .block-product__item-card-add {
    display: flex;
}
.block-product__item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.block-product__item-img {
    width: 100%;
}
.block-product__item:hover .block-product__item-img {
    filter: brightness(50%);
}
.block-product__item-heading {
    color: #222222;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 13px;
    text-transform: uppercase;
}
.block-product__item-price {
    margin-top: 17px;
    margin-left: 20px;
    margin-bottom: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}
.block-product__item-card-add {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}
.item-card-add__link {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.item-card-add__link:hover {
    box-shadow: 0 0 10px #fff;
    color: #ffffff;
}
.item-card-add__img {
    margin-right: 7px;
}